//- #footer
//-   .position-container
//-     .content-container
//-       .btn-container
//-         a(href='mailto:appsupport@flyby.com?Subject=App%20Support' target="_top")
//-           .round-btn.app-support.first
//-             span appsupport@flyby.com
//-         a(href='#')
//-           .round-btn.get-free-app
//-            span Get the Free App >

//-       .link-container
//-         span.seperator Flyby Media Copyright 2014
//-         a(href='#') Privacy & Terms

//-       .mobile-footer-links
//-         span Flyby Media Copyright 2014
//-         br
//-         a(href='#') Privacy & Terms

//-       .social-icons
//-         ul.social
//-           li: a.twitter(href="#" target="_blank")
//-               img(src='img/twitter_icon.svg')
//-           li: a.facebook(href="#" target="_blank")
//-               img(src='img/facebook_icon.svg')
