#landing
  .content-container
    .logo
      img(src='http://www.wpclipart.com/food/fruit/plum/plum_T.png')
    .landing-copy
      .by-line
        h1 12 Plums
        h2 A subscription box service which provides new and expectant mothers with the best all-natural and organic products to help them care for and pamper themselves and their newborns safely and beautifully.
      .sign-up
        include _email_form

  .clear
