#landing
  .content-container
    .logo
      img(src='http://www.wpclipart.com/food/fruit/plum/plum_T.png')
    .landing-copy
      .by-line
        h1 12plums
        h2 A subscription box service that provides all natural personal care products to expectant and new moms.
      .sign-up
        include _email_form

  .clear
