#second-panel
  .content-container
    h1.section-header How it works
    ul
      li: p You or your friend is pregnant!<br>Yay!
      li: p Sign up for 12plums's monthly subscription box.
      li: p Fill out your detailed personal profile.
      li: p We curate each box to your preferences &amp; pregnancy stage.
      li: p The box arrives and the pampering begins!
      li: p Order the full-size products directly from our website.

  .clear
