#about-us
  .content-container
    h2.section-header About 12plums
    p 12plums is a subscription box service that offers all-natural beauty, personal care and lifestyle products to expectant and new moms and their newborns.
    p When we are pregnant, we adjust our routines to stop drinking, smoking and eating certain foods because of the proven health hazards to our unborn children. Furthermore, 60% of what we put on our skin enters our bloodstream exposing our fetuses to a range of unsafe chemicals. Imagine how much is transferred through breastfeeding. Nonetheless, very few women change their beauty routines to eliminate ingredients that are potentially hazardous. This is probably a combination of willful blindness and a lack of education as to the wealth of safe and effective products on the market.
    P Our mission is to help mothers pamper themselves and their newborns safely and without compromise.&nbsp;
      span.motto All beauty should be safe and luxurious.
      | &nbsp;That is our motto. To that end, we partner with the best all-natural and organic products to introduce to our subscribers in our monthly boxes. 
