#about-us
  background-color: #e2cbff
  height: 1100px

  h2
    color: dark-purple
    font-size: 2em
    center(300px)
    text-align: center

  p
    color: purple
    font-size: 1.5em
    
  .motto
    font-weight: bold
    color: dark-purple
