@import '_settings'
@import 'grate'

normalize()
base()

@import '_global'
@import 'panels/_landing'
@import 'panels/_faqs'
@import 'panels/_email-form'
@import 'panels/_second_panel'
@import 'panels/_image_container'
@import '_footer'

.section-header
  color: purple
