#second-panel
  .section-header
    text-align: center
    color: purple
    upcase()

  ul
    list-style-type: none

    @media main-bp
      center(180px)

    li
      size: 150px
      rounded()
      border: 1px solid black
      float: left
      margin: 2em 1em
      background-color: purple
      box-shadow: 5px 5px 5px gray

      p
        center(130px)
        upcase()
        bold()
        fs: .9em
        relative: top 25px
        text-align: center
        color: white
