#second-panel
  ul
    list-style-type: none

    li
      size: 100px
      rounded()
      border: 1px solid black

      p
        center(77px)
        relative: top 25px


//   background-color: lt-gray
//   color: sky-blue
//   position: relative
//   z-index: 101
//   box-shadow: 0px -7px 7px -7px gray

//   .content-container
//     padding-top: 1em

//     .panel-copy
//       col(3/7, offset: 1/12)
//       padding-top: 4em
//       fs: 1.5em
//       margin-right: 0

//       @media only screen and (max-width: 950px)
//         fs: 1em

//       @media only screen and (max-width: 700px)
//         padding-top: 1em
//         fs: 0.89em

//       @media main-bp
//         fs: 1.22em
//         center(90%)

//       h2
//         margin-bottom: .2em

//       p
//         margin: 0
